.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
  }
  
  #header .bottom {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0.75em 0;
  }
  
  #header .bottom > :last-child {
    margin-bottom: 0;
  }
  
  #header .bottom {
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
    padding-top: 2em;
    margin-top: 2em;
    position: relative;
  }
  
  section,
  article {
    margin-bottom: 3em;
  }
  
  section > :last-child,
  section > .container,
  section:last-child,
  article > :last-child,
  article > .container,
  article:last-child {
    margin-bottom: 0;
  }
  
  .row > section,
  .row > article {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 961px) and (max-width: 1880px) {
    .container {
      width: 1200px;
    }
  }
  
  @media screen and (min-width: 961px) and (max-width: 1620px) {
    .container {
      width: 960px;
    }
  }
  
  @media screen and (min-width: 961px) and (max-width: 1320px) {
    .container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 960px) {
    .container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 736px) {
    .container {
      width: 100%;
    }
  }
  
  .item {
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
  }
  
  .item header {
    background: #fff;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 0.8em;
  }
  
  .item header h3 {
    font-size: 1em;
  }
  
  .icon {
    text-decoration: none;
  }
  
  .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon > .label {
    display: none;
  }